/* GENERAL */
html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  font-family: 'Yantramanav', sans-serif;
}


/* MAP */
.leaflet-container { height: 100% }

#map {
  position: absolute;
  height: 100%;
  width: 92%;
}

.marker-cluster-small div {
  background-color: #879c8f;
}

.marker-cluster-small {
  background-color: #799082;
  color: black;
}

.marker-cluster-medium div {
  background-color: #e4a3a0;
}

.marker-cluster-medium {
  background-color: #e29996;
  color: black;
}

.marker-cluster-large div {
  background-color: #fcc2a7;
}

.marker-cluster-large {
  background-color: #fcbc9e;
  color: black;
}


/* LOADING PAGE */
#loading-background {
  background-color: #edc4bc;
  height: 100vh;
}

#loading-logo {
  display: block;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}

#loading-title {
  color: #3a5344;
  font-size: 33px;
  font-family: 'El Messiri', sans-serif;
  text-align: center;
  padding-bottom: 5%;
}
