html {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

#map {
  position: absolute;
  height: 100%;
  width: 91%;
}

#navigation-container {
  z-index: 10;
  width: 9%;
  height: 100%;
  right: 0;
  display: block;
  position: absolute;
}

#navigation-bar {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: relative;
  border-left: 3px solid green;
}

#navigation-primary {
  z-index: 10;
  width: 50%;
  overflow: visible;
  height: 210px;
  position: absolute;
  top: 50%;
  margin-top: -105px;
}

.nav-item {
  z-index: 20;
  padding-top: 30px;
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.nav-item-icon {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
  position: relative;
}

.logo {
  width: 40px;
}

#main-logo {
  width: 50px;
  padding-top: 15px;
}

#main-logo-cont {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 50px;
}

.leaflet-container { height: 100% }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
